.navbarcolor {
  color: #1ddafd;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
}

.header-button1 {
  color: #1ddafd;
  background-color: transparent;
  border-color: #34c439;
  border: solid 2px #1ddafd;
  padding: 10px 20px;
  font-size: 1.3rem;
  border-radius: 10px;
}

.footer {
  background-color: #000000;
  .footer-img {
    filter: grayscale(100%);
  }
  .footer-color {
    color: #a5abb3;
    font-size: 1.2rem;
  }
}

.hero {
  .hero-text {
    font-size: 2.5rem;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: #0054cf;
    font-weight: 900;
    font-stretch: normal;
    text-align: center;
  }
  .para-text {
    color: #a5abb3;
    font-weight: 600;
  }
  .cardtext {
    font-weight: bold;
  }
  .cardfontcolor {
    color: #0054cf;
    font-weight: bold;
  }
  .pending {
    display: flex;
    justify-content: space-between;
  }
  .pendingcolor {
    color: #a5abb3;
  }
  .spanfontcolor {
    color: black;
  }
  .hero-button {
    color: #1ddafd;
    background-color: transparent;
    border-color: #34c439;
    border: solid 2px #1ddafd;
    padding: 8px 80px;
    font-size: 1.3rem;
    border-radius: 10px;
  }
}

.card1 {
  .card-text1 {
    font-size: 2.5rem;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: #0054cf;
    font-weight: 900;
    font-stretch: normal;
    text-align: center;
  }
  .card-text2 {
    color: #0054cf;
    font-weight: bold;
  }
  .deposit{
    display: flex;
    justify-content: space-between;
  }
  .deposit-button{
    color: #1ddafd;
    background-color: transparent;
    border-color: #34c439;
    border: solid 2px #1ddafd;
    padding: 8px 80px;
    font-size: 1.3rem;
    border-radius: 10px;
  }
  .spanfontcolor {
    color: black;
  }
  .pendingcolor {
    color: #a5abb3;
  }
}

.community{
  .h1-text{
    background: linear-gradient(97.34deg,#72f596 -17.27%,#1ddafd 97.19%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 700;
  }
  .community-text{
    color: #000000;
    font-weight: 700;
  }
}


.deposit{
  .gmt-text{
    font-size: 2.5rem;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: #0054cf;
    font-weight: 900;
    font-stretch: normal;
    text-align: center;
  }
  .earn-color{
    color: #a5abb3;
    font-weight: bold;
  }
  .deposit-card{
    display: flex;
    justify-content: space-between;
  }
  .deposit-button{
    color: #1ddafd;
    background-color: transparent;
    border-color: #34c439;
    border: solid 2px #1ddafd;
    padding: 8px 80px;
    font-size: 1.3rem;
    border-radius: 10px;
  }
  
}
